* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

 body {
 	background-color: #88cc88;
 }

header {
	height: 337px;
	padding-top: 0;
	position: fixed;
	top: 114px;
	background: #f4f4f4;
	z-index: 1;
}
.main-nav,
.main {
	position: relative; 

}
.main-nav {
	background: #fff;
	height: 80px;
	z-index: 150;
	top:1px;
	margin-bottom: -80px;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
}


.main-nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;
}

.main {
	top: 100px;
	background: #f2f2e8;
	padding: 0 450px 250px;
	column-count: 2;
	column-gap: 40px;
}

p {
	color: black;
}