/*colors*/
/**/
/*elements dimensions*/
html {
  font-size: 14px; }
  @media (max-height: 799px) {
    html {
      font-size: 13px; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

/*structure elements*/
header {
  height: 340px;
  padding-top: 0;
  position: relative;
  top: 114px;
  background: #f4f4f4;
  z-index: 1;
  overflow: hidden; }
  @media (max-width: 480px) {
    header {
      height: 230px; } }
  @media (max-width: 480px) {
    header {
      top: 147px; } }
  @media (max-width: 1366px) {
    header {
      top: 95px; } }
  @media (max-width: 640px) and (max-height: 320px) and (orientation: landscape) {
    header {
      top: 60px; } }

main {
  position: relative;
  display: block;
  margin-bottom: 20px; }
  @media (max-width: 480px) {
    main .container {
      padding-left: 0;
      padding-right: 0; } }

.contents {
  position: relative;
  top: 114px; }
  @media (max-width: 480px) {
    .contents {
      top: 132px; } }

aside {
  background-color: white;
  height: 900px; }

aside:before {
  content: '';
  position: absolute;
  top: 114px;
  width: 1px;
  left: -5px;
  height: 77%;
  background: linear-gradient(to bottom, white 0%, #d1d1d1 50%, white 100%); }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  color: #464b56;
  text-align: center; }
  @media (min-width: 1366px) and (orientation: landscape) {
    footer {
      height: 62px; } }
  @media (max-width: 768px) {
    footer {
      position: relative;
      margin: 0 auto;
      bottom: -100px; }
      footer span.copy {
        margin-top: 5px; } }

footer .bok span {
  display: inline-block; }
  @media (max-width: 768px) {
    footer .bok span:first-child {
      display: none; }
    footer .bok span img {
      width: 36%; } }

footer .bok {
  margin-top: 7px; }
  @media (min-width: 1366px) and (orientation: landscape) {
    footer .bok {
      margin-top: 14px; } }

span.copy {
  margin-top: 21px; }
  @media (max-width: 1366px) and (orientation: landscape) {
    span.copy {
      margin-top: 12px; } }

footer span:first-child {
  float: left; }

/*feature elements */
.hero_text h4, .hero_text p {
  text-align: center;
  padding-left: 35px;
  padding-right: 35px; }

.block_title {
  color: black;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px; }
  @media (max-width: 1366px) and (orientation: landscape) {
    .block_title {
      margin-bottom: 5px; } }
  @media (max-height: 480px) and (orientation: landscape) {
    .block_title {
      margin-top: 1px; } }

.navbar-collapse .block_title {
  margin-top: 16px; }

.block_title:before, .block_title:after {
  content: '';
  width: 28%;
  height: 1px;
  border: none;
  background-color: black;
  margin-top: 11px;
  top: 9px; }
  @media (max-width: 992px) and (orientation: landscape) {
    .block_title:before, .block_title:after {
      width: 8vw; } }
  @media (max-width: 480px) {
    .block_title:before, .block_title:after {
      width: 15vw; } }

.block_title_narr:before, .block_title_narr:after {
  width: 16%; }
  @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .block_title_narr:before, .block_title_narr:after {
      width: 1.2vw; } }
  @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .block_title_narr:before, .block_title_narr:after {
      width: 1vw; } }

.block_title:before {
  float: left;
  margin-left: 3px; }
  @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .block_title:before {
      margin-left: 2.4vw; } }
  @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .block_title:before {
      margin-left: 0; } }

.block_title:after {
  float: right;
  margin-right: 3px; }
  @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    .block_title:after {
      margin-right: 2.4vw; } }
  @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    .block_title:after {
      margin-right: 0; } }

.navbar-brand {
  padding-top: 0.15rem; }

.main-logo img {
  width: 80px;
  max-height: 100px;
  width: inherit;
  margin: 0px 30px 0 0;
  float: left; }
  @media (min-width: 1366px) and (orientation: landscape) {
    .main-logo img {
      margin-right: 63px; } }
  @media (max-width: 1366px) {
    .main-logo img {
      width: 69px; } }
  @media (max-width: 567px) {
    .main-logo img {
      margin: 8px auto;
      width: 50px;
      height: initial;
      float: none;
      text-align: center; } }
  @media (max-height: 320px) and (max-width: 640px) and (orientation: landscape) {
    .main-logo img {
      width: 44px; } }
@media (max-width: 567px) {
  .main-logo {
    position: absolute;
    top: 0;
    left: 39vw;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    display: block; } }

@media (max-width: 568px) and (orientation: portrait) {
  .navbar-nav .nav-item {
    float: inherit;
    display: block; } }
.main-nav-scrolled {
  height: 114px; }
  .main-nav-scrolled .main-logo img {
    width: 90px; }
  @media (min-width: 1367px) {
    .main-nav-scrolled {
      animation: shrink_top 0.3s 100ms ease-in-out 1 forwards; }
      .main-nav-scrolled .main-menu {
        animation: shift-menu 0.3s 100ms ease-in-out 1 forwards; }
      .main-nav-scrolled .main-logo img {
        animation: shrink-logo 0.3s 100ms ease-in-out 1 forwards; } }
  @media (max-width: 1366px) {
    .main-nav-scrolled .main-logo img {
      width: 69px; } }
  @media (max-width: 768px) {
    .main-nav-scrolled .main-logo img {
      width: 50px; } }

@keyframes shrink_top {
  0% {
    height: 114px; }
  100% {
    height: 95px; } }
@keyframes shift-menu {
  0% {
    margin-top: 35px; }
  100% {
    margin-top: 24px; } }
@keyframes shrink-logo {
  0% {
    width: 90px; }
  100% {
    width: 68px; } }
.top-status-box {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 290px;
  margin: 0;
  background-color: #464c58;
  color: white;
  text-transform: uppercase;
  padding: 0; }
  .top-status-box .row {
    margin: 0; }
  @media (min-width: 768px) and (orientation: landscape) {
    .top-status-box {
      height: 114px;
      top: 0; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .top-status-box {
      top: 69px;
      width: 100%;
      min-height: 77px; } }
  @media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
    .top-status-box {
      height: 95px; } }
  @media (max-width: 640px) and (max-height: 320px) and (orientation: landscape) {
    .top-status-box {
      height: 60px; }
      .top-status-box header {
        display: none; } }
  .top-status-box header {
    position: initial;
    width: 100%;
    height: initial;
    top: 0;
    left: 0;
    padding: 15px 18px 5px;
    background-color: #3b3e45;
    margin-bottom: 5px; }
    @media (max-width: 480px) {
      .top-status-box header {
        padding: 2px 18px 2px; } }
  .top-status-box .status-box-points {
    margin: 0 18px; }

.status-user {
  margin-left: 11px;
  display: inline-block; }

.status-points {
  float: right;
  line-height: 1; }

.status-more {
  float: right;
  margin-top: 8px; }

.status-more:after {
  content: '';
  width: 1px;
  height: 1px;
  border-right: 6px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 0 solid transparent;
  margin: 1px 5px 0 8px;
  display: inline;
  float: right; }

.top-status-box hr {
  margin: 8px 0;
  background-color: white; }

.top-status-box hr:last-of-type {
  margin-bottom: 2px; }

.hero_img {
  background-image: url(../img/hero_img.jpg);
  height: 360px;
  max-height: 360px;
  background-size: cover;
  background-position: center center;
  background-color: #e0e0e0;
  background-repeat: no-repeat; }
  @media (max-width: 480px) {
    .hero_img {
      height: 230px; } }

.main {
  top: 100px;
  background: #f2f2e8;
  padding: 0 40px 30px;
  column-count: 2;
  column-gap: 40px; }

/*products list view*/
/*********/
/*********/
/**    ***/
/**    ***/
/**    ***/
/**    ***/
/********/
/********/
/**/
/**/
/**/
/**/
/**/
/**/
.product-item {
  padding: 0 !important;
  height: 290px;
  text-align: center;
  margin: 10px 0px 35px 0px; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .product-item {
      height: 400px; } }
  .product-item .top-status-box {
    position: relative;
    right: 0; }

.slick-homepage .product-item {
  height: 320px; }
  @media (max-height: 480px) and (orientation: landscape) {
    .slick-homepage .product-item {
      height: 290px; }
      .slick-homepage .product-item img {
        width: 31vw; } }

.points-flag {
  position: absolute;
  color: white;
  width: 72px;
  height: 40px;
  top: 160px;
  left: 0;
  background-image: url(../img/flaga_price.jpg);
  background-repeat: no-repeat;
  font-size: 12px; }

.flag-green {
  background-image: url(../img/flaga_price_green.jpg); }

main .product-info {
  bottom: 19px;
  position: absolute;
  width: 100%; }

.pr-points {
  display: block;
  position: relative;
  transform: translate(-17px);
  margin: 0 auto;
  top: 3px; }

.pr-flag-unit {
  display: block;
  position: relative;
  margin: 0 auto;
  transform: translate(-17px);
  color: #f5fbff;
  font-size: 10px;
  font-weight: 200px; }

.pr-add-pln {
  position: absolute;
  right: 4px;
  top: 9px;
  font-size: 12px; }

section.sidebar-product-view {
  position: relative;
  min-height: 400px;
  text-align: center; }

section.sidebar-search-view {
  position: relative;
  text-align: center; }

.buy {
  background-color: #37813c; }

.not_enough {
  border: 1px solid #333;
  background-color: #464b56;
  padding: 5px 15px 25px 15px; }

.enough {
  border: 1px solid #285e2c;
  background-color: #38813c;
  padding: 5px 20px 25px 20px; }

.img-logo {
  text-align: center; }
  @media (max-width: 1199px) {
    .img-logo img {
      height: 60px;
      padding: 10px; } }
  @media (min-width: 1200px) {
    .img-logo img {
      height: 100px;
      padding: 18px; } }

/*single products view*/
@media (max-width: 480px) and (orientation: portrait) {
  .single-product div:first-child img {
    max-width: 57%;
    margin: 0 auto; }
  .single-product .cart-adding-containter input {
    width: 49%; }
  .single-product .cart-adding-containter button {
    width: 49%; } }

/*news view*/
@media (max-width: 1366px) {
  .news div:first-child img {
    width: 100%; } }

.news-background {
  position: relative; }
  .news-background div {
    padding: 0 15px 0 0; }
  .news-background .img-full {
    width: 100%; }
  .news-background .news-text-background {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    font-size: 55px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.sub-agreement {
  display: none; }

.btn-primary, .btn {
  background-color: #38813c;
  border-radius: 0;
  border: none;
  min-height: 30px;
  margin-left: 0 auto !important;
  border: none;
  padding: 6px 15px;
  bottom: 1px;
  display: inline-block; }
  .btn-primary:hover, .btn:hover {
    background-color: #2d6830; }
  @media (min-width: 768px) {
    .btn-primary, .btn {
      min-width: 163px; } }
  .btn-primary .material-icons, .btn .material-icons {
    position: relative;
    top: 7px;
    margin-right: 4px;
    line-height: 0.2; }

.btn-danger, .btn-danger:hover {
  border: none;
  background-color: #d9534f; }

.btn-primary:focus, .btn-primary:active {
  background-color: #00a909; }

.button-centerer {
  bottom: 0;
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: center; }

main .button-centerer {
  position: absolute; }

/*menu button*/
/*cart buttons*/
@media (max-width: 480px) and (orientation: portrait) {
  .cart-table-container button {
    white-space: normal;
    margin: 0 1px; } }
.cart-table-container .pull-right {
  display: flex;
  justify-content: space-between; }

/*form elementnts*/
.formblock input:first-of-type {
  margin-top: 35px; }
  @media (max-width: 320px) and (orientation: portrait) {
    .formblock input:first-of-type {
      margin-top: 15px; } }
  @media (max-height: 992px) and (orientation: landscape) {
    .formblock input:first-of-type {
      margin-top: 2vh; } }
  @media (max-height: 500px) and (orientation: landscape) {
    .formblock input:first-of-type {
      margin-top: 10px; } }

@media (max-width: 480px) {
  .user-panel .form-group {
    margin-bottom: 4px; }
  .user-panel .form-control {
    width: 90%;
    margin: 0; }
  .user-panel label {
    padding-top: 7px;
    min-height: 31px;
    line-height: 1.2;
    margin-top: 3px; } }

.form-control {
  background-color: white;
  margin: 10px auto;
  width: 60%;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: inset 2px 2px 3px #ccc;
  -moz-box-shadow: inset 2px 2px 3px #ccc;
  box-shadow: inset 2px 2px 3px #ccc; }

.form-control input {
  text-align: center; }

form input:-webkit-autofill {
  background-color: white !important; }

.loginInput {
  background-color: black;
  padding: 8px 25px;
  border: none; }
  @media (max-height: 500px) and (orientation: landscape) {
    .loginInput {
      margin-bottom: 5px; } }

.pageContent input {
  text-align: left;
  box-shadow: inherit; }
.pageContent .form-control:focus {
  border-color: #f4f4f4;
  border-bottom-color: #5c616e;
  outline: none; }

.single-product input {
  height: 30px; }

/*cart*/
@media (max-width: 480px) and (orientation: portrait) {
  .cart-count {
    width: 30px; } }

/*top navigation*/
main {
  position: relative; }

.navbar-collapse {
  background-color: green; }
  @media (max-width: 992px) {
    .navbar-collapse {
      top: 0;
      margin-top: 95px; }
      .navbar-collapse section {
        clear: left; }
      .navbar-collapse .categories {
        width: 80vw; }
        .navbar-collapse .categories li {
          padding: 0; }
        .navbar-collapse .categories a {
          width: 75%;
          display: inline-block;
          padding: 4px 0; }
        .navbar-collapse .categories span {
          display: inline-block; } }
  @media (max-width: 480px) and (orientation: portrait) {
    .navbar-collapse {
      margin-top: 70px; } }
  @media (max-width: 640px) and (max-height: 320px) and (orientation: landscape) {
    .navbar-collapse {
      margin-top: 60px; } }

@media (max-width: 992px) {
  .navbar .in, .collapsing {
    display: block;
    position: absolute;
    z-index: 3;
    background-color: #e8e8e8;
    width: 100%;
    left: 0; }

  .collapsing {
    height: 125px; } }
@media (max-width: 992px) {
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 1px;
    width: 33px;
    height: 35px;
    margin-top: 20px;
    margin-right: 48vw;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; } }
@media (max-width: 568px) and (orientation: landscape) {
  .navbar-toggle {
    margin-top: 4px;
    margin-right: 50vw; } }
@media (max-width: 567px) {
  .navbar-toggle {
    margin-right: 15px;
    margin-top: 8px; } }
@media (max-width: 640px) and (max-height: 320px) and (orientation: landscape) {
  .navbar-toggle {
    margin-top: 4px; } }
@media (min-width: 992px) {
  .navbar-toggle {
    display: none; } }
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
  margin: 4px; }

.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c; }

.navbar-toggle:not(.collapsed) {
  padding-left: 4px; }
  .navbar-toggle:not(.collapsed) .icon-bar:first-child {
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0;
    transition: 300ms ease-in-out; }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: -2px 0 0 0;
    transition: 300ms ease-in-out; }
  .navbar-toggle:not(.collapsed) .icon-bar:last-child {
    display: none; }

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 114px;
  z-index: 150;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-bottom: solid 1px #989898;
  background-image: url(../img/mock_topmenu.jpg);
  background-size: cover; }
  .main-nav nav {
    margin-left: 90px; }
    @media (max-width: 1200px) {
      .main-nav nav {
        margin-left: 0; } }
  @media (max-width: 1365px) and (orientation: landscape) {
    .main-nav .container {
      width: 100%;
      max-width: 1365px; } }
  @media (max-width: 1366px) {
    .main-nav {
      height: 95px; } }
  @media (max-width: 480px) {
    .main-nav {
      height: 70px; } }
  @media (max-width: 640px) and (max-height: 320px) and (orientation: landscape) {
    .main-nav {
      height: 60px; } }

.main-menu {
  margin-top: 35px; }
  .main-menu li a:hover {
    color: #464c58;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); }
  @media (max-width: 480px) {
    .main-menu {
      margin-top: 0; } }
  @media (max-width: 1366px) and (orientation: landscape) {
    .main-menu {
      margin-top: 24px; } }

.dropdown {
  cursor: pointer; }

.navbar-nav .nav-item {
  margin-left: 1.1rem; }

@media (max-width: 480px) {
  .navbar-nav .nav-item {
    border-bottom: solid 1px #ccc; } }
.dropdown-menu {
  background-color: #3b3e45;
  right: 15px;
  left: inherit;
  padding: 0;
  border-radius: 4px;
  overflow: hidden; }
  .dropdown-menu li {
    margin: 0; }
    .dropdown-menu li:hover {
      background-color: #5c616e; }
    .dropdown-menu li a, .dropdown-menu li a:link {
      padding: 12px 11px;
      display: block;
      width: 100%;
      color: white; }
  .dropdown-menu li[role=separator] {
    background-color: #464c58;
    height: 1px;
    padding: 0px; }

/*navigation aside*/
.categories {
  padding: 0;
  margin-left: 35px; }
  @media (min-width: 768px) and (max-width: 992px) {
    .categories {
      margin-left: 1vw; } }

.categories li {
  padding: 3px 0px;
  list-style-type: disc; }
  @media (min-width: 1200px) {
    .categories li {
      height: 33px; } }
  .categories li:after {
    content: '';
    height: 1px;
    background-color: black;
    display: block;
    width: 0%; }
  .categories li:hover:after {
    animation: menu-underline 600ms ease-in-out forwards; }
  .categories li span {
    float: right;
    font-weight: 100; }

@keyframes menu-underline {
  0% {
    width: 0; }
  50% {
    width: 30%; }
  100% {
    width: 0; } }
/*Bottom navigation*/
.footer_menu {
  margin-top: 21px; }
  @media (max-width: 1366px) and (orientation: landscape) {
    .footer_menu {
      margin-top: 12px; } }
  .footer_menu li {
    display: inline;
    list-style-type: none;
    margin: 0 15px; }

/*panel tabs*/
@media (max-width: 480px) {
  .user-panel .nav-tabs {
    margin-top: 20px; }
    .user-panel .nav-tabs li a:link, .user-panel .nav-tabs li a:hover, .user-panel .nav-tabs li a:focus {
      padding: 11px 12px;
      font-size: 11px; } }

@media (max-width: 480px) and (orientation: portrait) {
  .cart-table-container {
    padding: 0; }
    .cart-table-container table td {
      padding: 0.75rem 0.2rem; }
    .cart-table-container table td:first-child {
      width: 5%; }
    .cart-table-container table td:nth-child(2) {
      width: 30%; } }
.cart-table-container table td {
  vertical-align: middle; }

body {
  font-family: "Roboto Condensed", Verdana, sans-serif;
  font-size: 14px; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../../default/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../default/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../../../default/fonts/MaterialIcons-Regular.woff) format("woff"), url(../../../default/fonts/MaterialIcons-Regular.ttf) format("truetype"); }
/*******************************************************************************************/
/*******************************************************************************************/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 23px;
  font-family: "Roboto Condensed", Verdana, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: black; }

h1 {
  font-size: 4.2rem; }

h1 {
  font-size: 4.2rem; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 31px; }

h5 {
  font-size: 1.64rem; }

h6 {
  font-size: 1rem; }

@media (max-width: 320px) and (orientation: portrait) {
  .logpage h2 {
    margin-bottom: 6px; } }
@media (max-height: 600px) and (orientation: landscape) {
  .logpage h2 {
    margin-bottom: 10px; } }

.hero_text h4 {
  margin-bottom: 11px;
  font-size: 1.7rem; }
  @media (max-width: 992px) and (orientation: landscape) {
    .hero_text h4 {
      font-size: 1.3rem;
      margin-bottom: 2vh; } }
  @media (min-width: 1200px) and (orientation: landscape) {
    .hero_text h4 {
      font-size: 1.9rem;
      margin-bottom: 10px; } }

/**************/
/**************/
p {
  color: black; }

.news-content p {
  margin: 15px 20px 10px 45px; }

a:link, a:visited {
  color: black;
  text-decoration: none; }

.invert a:link, .invert a:visited {
  color: white;
  text-decoration: none; }

.top-status-box {
  font-size: 14px; }
  @media (max-width: 480px) {
    .top-status-box {
      font-size: 0.8em; } }
  .top-status-box header {
    font-size: 1.05em; }
    @media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
      .top-status-box header {
        font-size: 0.8em; } }
  @media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
    .top-status-box .material-icons {
      font-size: 1.9em; } }

@media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
  .status-box-points {
    font-size: 0.8em; } }

@media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
  .check-cart {
    font-size: 0.8em; } }
@media (max-width: 480px) {
  .check-cart i {
    font-size: 18px;
    margin-top: 4px; } }

.status-user {
  font-weight: 100;
  font-size: 0.95rem; }

.status-points {
  font-weight: 700;
  font-size: 18px;
  line-height: 1; }
  @media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
    .status-points {
      font-size: 1.1em; } }

@media (min-width: 1367px) {
  .main-nav-scrolled .top-status-box {
    animation: smallen_f11 0.3s 100ms ease-in-out 1 forwards; }

  .main-nav-scrolled .status-points {
    animation: smallen_f13 0.3s 100ms ease-in-out 1 forwards; } }
@keyframes smallen_f11 {
  0% {
    font-size: inherit;
    height: 114px; }
  100% {
    font-size: 11px;
    height: 95px; } }
@keyframes smallen_f13 {
  0% {
    font-size: 17px; }
  100% {
    font-size: 16px; } }
.status-more {
  font-size: 14px; }
  @media (min-width: 480px) and (max-width: 1366px) and (orientation: landscape) {
    .status-more {
      font-size: 0.8em; } }

.txt-med {
  font-weight: 500; }

.prod-list-title {
  font-size: 14px;
  margin: 5px 35px; }

.prod-list-desc {
  font-size: 10px; }

.categories {
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-size: 1.11rem; }
  .categories a:visited {
    color: #464c58; }

.white_links a:link, .white_links a, .white_links a:hover {
  color: white; }

.check-cart {
  color: white; }
  .check-cart a {
    color: white; }
  .check-cart i {
    margin-left: 3px; }

.main-menu {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em; }
  .main-menu li a {
    font-size: 1.2rem; }
    @media (max-width: 1366px) and (orientation: landscape) {
      .main-menu li a {
        font-size: 1.1em; } }

/******************
/* Buttons */
/*******************/
button {
  text-transform: uppercase;
  font-weight: 700;
  color: white; }

/******************
/* Products */
/*******************/
@media (max-width: 768px) {
  h5 {
    margin-bottom: 3px;
    font-size: 13px; } }

@media (max-width: 768px) {
  h3 {
    margin-bottom: 6px;
    font-size: 14px; } }

.product-info h5 {
  font-size: 1.15rem;
  margin-bottom: 0px;
  font-weight: 300; }
  .product-info h5 span {
    color: red;
    font-weight: 600; }

.striked .pr-points {
  text-decoration: line-through;
  font-weight: 800; }

@media (max-width: 768px) {
  .single-product .product-new {
    text-align: center;
    color: red;
    font-size: 15px; }
  .single-product h3, .single-product .koszt-zakupu {
    text-align: center; } }

/******************
/* Form typography */
/*******************/
input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: white;
  font-weight: 500; }
  @media (max-height: 500px) and (orientation: landscape) {
    input[type="submit"] {
      font-size: 15px; } }

/******************
/* footer        */
/*******************/
@media (max-width: 480px) {
  footer .copy {
    margin-top: 3px;
    font-size: 10px; }
  footer .bok span {
    font-size: 10px; } }
footer .bok {
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 1366px) and (orientation: landscape) {
    footer .bok {
      font-size: 12px; } }

@media (max-width: 1366px) and (orientation: landscape) {
  footer span:first-child {
    font-size: 11px; } }

.footer_menu li {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.01em; }
  @media (max-width: 1366px) and (orientation: landscape) {
    .footer_menu li {
      font-size: 0.9em; } }

/*regulamin ordered list 1.1.1 style*/
.statute > li {
  margin-bottom: 35px; }

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0; }

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em; }

ol > li:before {
  content: counters(item,".") ". ";
  display: table-cell;
  padding-right: 0.6em; }

li ol > li {
  margin: 0; }

li ol > li:before {
  content: counters(item,".") " "; }

/*log page elements*/
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-image: url(../img/log_page_bcg_lg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 768px; }

.bblogo {
  margin: 0px 0 30px 0;
  text-align: center; }
  @media (orientation: portrait) {
    .bblogo {
      margin: 13px 0 17px 0; } }
  @media (max-width: 480px) and (orientation: portrait) {
    .bblogo img {
      width: 28%; } }
  @media (max-width: 320px) and (orientation: portrait) {
    .bblogo {
      margin: 4px 0; }
      .bblogo img {
        width: 18%; } }
  @media (max-height: 992px) and (orientation: landscape) {
    .bblogo {
      margin-bottom: 4.1vh; }
    .bblogo img {
      height: 15vh; } }
  @media (max-height: 600px) and (orientation: landscape) {
    .bblogo {
      margin-bottom: 1vh; }
    .bblogo img {
      height: 13vh; } }

.formblock {
  position: relative;
  top: 0;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
  text-align: center; }
  @media (min-width: 1600px) {
    .formblock {
      margin-top: 50px; } }
  @media (max-height: 992px) and (orientation: landscape) {
    .formblock {
      margin-top: 5.1vh; } }
  @media (max-height: 700px) and (orientation: landscape) {
    .formblock {
      margin-top: 1vh; } }

.formblock::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background-color: transparent;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  display: block;
  border: solid 1px white;
  z-index: 0; }

.loginInput {
  margin-bottom: 15px; }
  @media (max-height: 700px) and (orientation: landscape) {
    .loginInput {
      margin-bottom: 2px; } }

.log-head {
  margin-top: 15px;
  text-transform: uppercase;
  color: white; }
  @media (max-height: 992px) and (orientation: landscape) {
    .log-head {
      font-size: 1.7rem;
      margin: 6px; } }
  @media (max-height: 500px) and (orientation: landscape) {
    .log-head {
      font-size: 1.5rem; } }
  @media (max-width: 320px) and (orientation: portrait) {
    .log-head {
      margin-top: 4px; } }

.formblock p {
  color: white;
  margin: 0 35px; }

.logpage {
  margin-top: 60px; }
  @media (max-height: 992px) and (orientation: landscape) {
    .logpage {
      margin-top: 3.5vh; } }

.logpage h2, .logpage p {
  text-align: center; }

.bok {
  margin-top: 15px; }

@media (max-width: 992px) and (orientation: landscape) {
  .wrapper {
    background-image: url(../img/log_page_bcg_md.jpg); } }
@media (max-width: 768px) and (orientation: portrait) {
  .wrapper {
    background-image: url(../img/log_page_bcg_md_vert.jpg); }

  .main-nav {
    background-image: url(../img/top_bcg_md.jpg);
    background-size: cover; } }
@media (max-width: 480px) and (orientation: portrait) {
  .wrapper {
    background-image: url(../img/log_page_bcg_sm_ver.jpg); }

  .logpage {
    margin-top: 0; }
    .logpage .bok {
      width: 100%; }

  h2 {
    font-size: 19px; }

  .navbar-nav .nav-item {
    float: inherit;
    display: block; } }
@media (min-width: 1366px) {
  .container {
    max-width: 1300px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1400px; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  position: relative;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

aside .slick-slide img {
  margin: 0 auto; }

main .slick-slide img {
  width: 65%;
  margin: 0 auto; }
  @media (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
    main .slick-slide img {
      width: 47%; } }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
