html {
    font-size: $primary-fontsize;
    @media (max-height: 799px) {
       &{ font-size: $primary-fontsize-mobile; }
    }

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*structure elements*/

header {
    height: 340px;
    @media (max-width: $iph4-h) {
        height: $slider-height-mobile;
    }
    padding-top: 0;
    position: relative;
    top: $topbar-regular-height;
    @media (max-width: $scr-xs){
        top: $topbar-phone + 77px;
    }
    background: $gray-lightest;
    z-index: 1;
    overflow: hidden;

    @media (max-width: 1366px) {
        top: $topbar-compressed;
    }

    @media (max-width: 640px) and (max-height: $iph4-w) and (orientation: landscape) {
        top: $topbar-phone-horiz; 
    }

}

main {
    position: relative;
    display: block;
    margin-bottom: 20px;
    @media (max-width: $scr-xs) {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.contents {
    position: relative;
    top:$topbar-regular-height;
        @media (max-width: $scr-xs){
            top: 132px; 
        }
    }

aside {
    background-color: white;
    // border: 1px dashed green;
   height: 900px;
}

aside:before{
    content:'';
    position: absolute;
    top: $topbar-regular-height;
    width: 1px;
    left: -5px;
    height: 77%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 50%, rgba(255,255,255,1) 100%);
}





footer {
    position: fixed;
    bottom: 0;
    @media (min-width: 1366px) and (orientation: landscape) {
        height: $footer-height;
    }
    @media (max-width: $ipd-w) {
        position: relative;
        margin: 0 auto;
        bottom: -100px;

        span.copy{
            margin-top: 5px;
        }
    }

    width: 100%;
    background-color: $gray-lightest;
    color: $brand-secondary;
    text-align: center;

}

footer .bok span {
    display: inline-block;
    @media (max-width: $ipd-w) {
        &:first-child {
            display: none;
        }
        img {
            width: 36%;
        }
    }
}

footer .bok {
    margin-top: 7px;
    @media (min-width: 1366px) and (orientation: landscape) {
        margin-top: 14px;
    }
}

span.copy {
    margin-top: 21px;
    @media (max-width: 1366px) and (orientation: landscape) {
    margin-top: 12px;
    }
}

footer span:first-child {
    float: left;    
}

/*feature elements */


.hero_text h4, .hero_text p {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}


.block_title {
    color: black;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
    @media (max-width: 1366px) and (orientation: landscape) {
        margin-bottom: 5px;
    }
    @media (max-height: $iph4-h) and (orientation: landscape)  {
        margin-top: 1px;
    }
}

.navbar-collapse .block_title {
    margin-top: 16px;
}

.block_title:before, .block_title:after {
    content: '';
    width: 28%;
    @media (max-width: 992px) and (orientation: landscape) {
        width: 8vw;
    }
    @media (max-width: $scr-xs){
        width: 15vw;
    }
    height: 1px;
    border: none;
    background-color: black;
    margin-top: 11px;
    top:9px;
}

.block_title_narr:before, .block_title_narr:after {
    width: 16%;
    @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
        width: 1.2vw;
    }
    @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
        width: 1vw;
    }
}

.block_title:before {
    float: left;
    margin-left: 3px;
    @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
        margin-left: 2.4vw;
    }
    @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
        margin-left: 0;
    }
}

.block_title:after {
    float: right;
    margin-right: 3px;
    @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
        margin-right: 2.4vw;
    }
    @media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
        margin-right: 0;
    }    
}


.navbar-brand {
    padding-top: 0.15rem;
}


.main-logo {
    img {
        width: 80px;
        max-height: 100px;
        width: inherit;
        margin: 0px 30px 0 0;
        @media (min-width: 1366px) and (orientation: landscape) {
            margin-right: 63px;
        }
        @media (max-width: 1366px) {
            width: 69px;
        }
        @media (max-width: $iph5-h - 1px) {
            margin: 8px auto;
            width: 50px;
            height: initial;
            float: none;
            text-align: center;
        }
        @media (max-height: $iph4-w) and (max-width: 640px) and (orientation: landscape) {
            width: 44px;
        }

        float: left;
    }

    @media (max-width: $iph5-h - 1px) {
        position: absolute;
        top: 0;
        left: 39vw;
        margin:0 auto;
        text-align: center;
        width: 90px;
        display: block;
    }


}


@media (max-width: $iph5-h) and (orientation: portrait) {
    .navbar-nav .nav-item {
        float: inherit;
        display: block;
    }
}



.main-nav-scrolled {
    height: 114px;
    .main-logo img {
        width: 90px;
    }

    @media (min-width: 1367px) {
        animation: shrink_top 0.3s 100ms ease-in-out 1 forwards;
        .main-menu {
            animation: shift-menu 0.3s 100ms ease-in-out 1 forwards;
        }

        .main-logo img {
            animation: shrink-logo 0.3s 100ms ease-in-out 1 forwards;
        }
    }
    @media (max-width: 1366px) {
        .main-logo img {
            width: 69px;
        }
    }

    @media (max-width: 768px) {
        .main-logo img {
            width: 50px;
        }
    }

}

@keyframes shrink_top {
    0% {height: 114px;}
    100% {height: $topbar-compressed; }
}

@keyframes shift-menu {
    0% {margin-top: 35px;}
    100% {margin-top: 24px; }
}

@keyframes shrink-logo{
    0% {width: 90px}
    100% {width: 68px;}
}

.top-status-box {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 290px;

    .row {
        margin: 0;
    }
    @media (min-width: $ipd-w) and (orientation: landscape) {
        height: $topbar-regular-height;
        top: 0;
        // width: 100%;
    }



    @media (max-width: $ipd-w - 1px) and (orientation: portrait) {
        top:69px;
        width: 100%;
        min-height: 77px;
    }
    
    @media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
        height: $topbar-compressed;
    }

    @media (max-width: 640px) and (max-height: $iph4-w) and (orientation: landscape) {
        //horizontal phone hide top-status-header
        height: $topbar-phone-horiz;
        header {
            display: none;
        }
    }

    margin: 0;
    background-color: $cool-gray;   
    color: white;
    text-transform: uppercase;
    padding: 0;

    header {
        position: initial;
        width: 100%;
        height: initial;
        top: 0;
        left: 0;
        padding: 15px 18px 5px;
        @media (max-width: $iph4-h) {
            padding: 2px 18px 2px;
        }

        background-color: $cool-gray-dark;
        margin-bottom: 5px;
    }

    .status-box-points {
        margin: 0 18px;
    }
}

.status-user {
    margin-left: 11px;
    display: inline-block;
}

.status-points {
    float: right;
    line-height: 1;
}

.status-more {
    float: right;
    margin-top: 8px;
}

.status-more:after{
    content: '';
    width: 1px; height: 1px;
    border-right: 6px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 0 solid transparent;
    margin: 1px 5px 0 8px;
    display: inline;
    float: right;
}


.top-status-box hr {
    margin: 8px 0;
    background-color: white;
}

.top-status-box hr:last-of-type {
    margin-bottom: 2px;
}


.hero_img{
    background-image: url(../img/hero_img.jpg);
    height: 360px;
    max-height: 360px;
    @media (max-width: $iph4-h) {
        height: $slider-height-mobile;
    }
    background-size: cover;
    background-position: center center;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
}


.main {
    top: 100px;
    background: #f2f2e8;
    padding: 0 40px 30px;
    column-count: 2;
    column-gap: 40px;
}

/*products list view*/

/*********/  /*********/
/**    ***/  /**    ***/
/**    ***/  /**    ***/
/********/  /********/
/**/        /**/  /**/    
/**/        /**/    /**/  


.product-item {
    //border: dashed 1px #cc33cc;
    padding: 0!important;
    // height: 375px; //if short description
    height: 290px;
    @media (min-width: 992px) and (max-width: 1200px) {
        height: 400px;
    }

    .top-status-box {
        position: relative;
        right: 0;
    }
    text-align: center;
    margin: 10px 0px 35px 0px;
    // display: flex;
    // justify-content: center;
}

.slick-homepage .product-item {
    height: 320px;
    @media (max-height: $iph4-h) and (orientation: landscape)  {
        height: 290px;
        img {
            width:31vw;
        }
    }

}

.points-flag {
    position: absolute;
    color: white;
    width: 72px;
    height: 40px;
    top: 160px;
    left: 0;
    background-image: url(../img/flaga_price.jpg);
    background-repeat: no-repeat;
    font-size: 12px;
}

.flag-green {
    background-image: url(../img/flaga_price_green.jpg);
}

main .product-info{
    bottom: 19px;
    position: absolute;
    width: 100%;
}

.pr-points {
    display: block;
    position: relative;
    transform: translate(-17px);
    margin: 0 auto;
    top: 3px;
}

.pr-flag-unit {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translate(-17px);
    color: #f5fbff;
    font-size: 10px;
    font-weight: 200px;
}

.pr-add-pln {
    position: absolute;
    right: 4px;
    top: 9px;
    font-size: 12px;
}



section.sidebar-product-view {
    position: relative;
    min-height: 400px;
    text-align: center;
}
section.sidebar-search-view {
    position: relative;
    text-align: center;
}

.buy {
    background-color: #37813c;

}

.not_enough {
	border: 1px solid #333;
	background-color: #464b56;
	padding: 5px 15px 25px 15px;
}

.enough {
	border: 1px solid #285e2c;
	background-color: #38813c;
	padding: 5px 20px 25px 20px;
}

.img-logo {
	text-align: center;
	img {
		@media (max-width: 1199px) {
      height: 60px;
      padding: 10px;
    }
    @media (min-width: 1200px) {
    	height: 100px;
    	padding: 18px;
    }
		
	}
}

/*single products view*/

.single-product{
    @media (max-width: $scr-xs) and (orientation: portrait) {
        div:first-child{
            img {
                max-width: 57%;
                margin: 0 auto;
            }
        }

        .cart-adding-containter {
            input {width: 49%;}
            button {width: 49%;}
        }
    }
}


/*news view*/

.news div:first-child{
    @media (max-width: 1366px) {
        img {width: 100%;}
    }
}

.news-background {
	position: relative;
	div {
		padding: 0 15px 0 0;
	}
	.img-full {
		width: 100%;
	}
	.news-text-background {
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 100%;
		
		font-size: 55px;
		color: #fff;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
}

.sub-agreement {
    display: none
}