.btn-primary, .btn {
	background-color: $button-primary;
	border-radius: 0;
	border: none;
	&:hover {
		background-color: darken($button-primary, 7%);
	}
	min-height: 30px;

    @media (min-width: $ipd-w) {
        min-width: 163px;
    }
    margin-left: 0 auto !important;
    border: none;
    padding: 6px 15px;
    bottom: 1px;
    //display: block;
    display: inline-block;
    
    .material-icons {
        position: relative;
        top: 7px;
        margin-right: 4px;
        line-height: 0.2;
  }
}

.btn-danger, .btn-danger:hover {
    border: none;
    background-color: #d9534f;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #00a909;
}

.button-centerer {
    bottom: 0;
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: center;
}

main {
    .button-centerer {
    position: absolute;
    }
}

/*menu button*/
// in menus.scss


/*cart buttons*/


.cart-table-container{
    @media (max-width: $scr-xs) and (orientation: portrait) {
        button {
            white-space: normal;
            margin: 0 1px;
        }

        .continue {
            // width: 110px;
        }
    }

    .pull-right {
        display: flex;
    justify-content: space-between;
    }
}