/*form elementnts*/

.formblock input:first-of-type{
	margin-top: 35px;

    @media (max-width: $iph4-w) and (orientation: portrait) {
        margin-top: 15px;
    }

	@media (max-height: 992px) and (orientation: landscape) {
        margin-top: 2vh;
    }
	@media (max-height: 500px) and (orientation: landscape) {
        margin-top: 10px;
    }
}

.user-panel {
	@media (max-width: $scr-xs){
		.form-group {
		    margin-bottom: 4px;
		}

		.form-control {
			width: 90%;
			margin: 0;
		}
		label {
			padding-top: 7px;
		    min-height: 31px;
		    line-height: 1.2;
    		margin-top: 3px;
		}
	}
}


.form-control {
	background-color: white;
	margin: 10px auto;
	width: 60%;
	text-align: center;
	border-radius: 0;
	-webkit-box-shadow:inset 2px 2px 3px #ccc;
	-moz-box-shadow:inset 2px 2px 3px #ccc;
    box-shadow:inset 2px 2px 3px #ccc;
}

.form-control input {
	text-align: center;
}

form input:-webkit-autofill {
    background-color: white!important;
}


//input[type="submit"] {
.loginInput {
	background-color: black;
	padding: 8px 25px;
	border: none;
	@media (max-height: 500px) and (orientation: landscape) {
        margin-bottom: 5px;
    }
}

.pageContent {
	input {
		text-align: left;
		box-shadow: inherit;
	}


	.form-control:focus {
		border-color: $gray-lightest;
	    border-bottom-color: $cool-gray-lighter;
	    outline: none;
	}

}

.single-product input {
	height:30px;
}

/*cart*/

.cart-count {
	@media (max-width: $scr-xs) and (orientation: portrait) {
		width: 30px;
    }
}