/*log page elements*/


.wrapper{
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-image:  url(../img/log_page_bcg_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 768px;
}


.bblogo {
    margin: 0px 0 30px 0;
    text-align: center;

    @media (orientation: portrait) {
        margin: 13px 0 17px 0;
    }

    @media (max-width: 480px) and (orientation: portrait) {
        img {
            width: 28%;
        }
    }

    @media (max-width: $iph4-w) and (orientation: portrait) {
        margin: 4px 0;
        img {
            width: 18%;
        }
    }

    @media (max-height: 992px) and (orientation: landscape) {
        &{margin-bottom: 4.1vh;}
        img {height: 15vh;}
    }
    @media (max-height: 600px) and (orientation: landscape) {
        &{margin-bottom: 1vh;}
        img {height: 13vh;}
    }
}

.formblock {
    position: relative;
    top: 0;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 5;
    text-align: center;

    @media (min-width: 1600px) {
            margin-top: 50px;
    }
    @media (max-height: 992px) and (orientation: landscape) {
        margin-top: 5.1vh;
    }
    @media (max-height: 700px) and (orientation: landscape) {
        margin-top: 1vh;
    }
}

.formblock::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    display: block;
    border: solid 1px white;
    z-index: 0;

}

//input[type=submit] {
.loginInput {
    margin-bottom: 15px;
    @media (max-height: 700px) and (orientation: landscape) {
        margin-bottom: 2px;
    }
}

.log-head {
    margin-top: 15px;
    text-transform: uppercase;
    color: white;

    @media (max-height: 992px) and (orientation: landscape) {
        font-size: 1.7rem;
        margin: 6px;
    }
    @media (max-height: 500px) and (orientation: landscape) {
        font-size: 1.5rem;
    }
    @media (max-width: $iph4-w) and (orientation: portrait) {
        margin-top: 4px;
    }
}
.formblock p {
    color: white;
    margin: 0 35px;}

.logpage {
    margin-top: 60px;
     @media (max-height: 992px) and (orientation: landscape) {
        margin-top: 3.5vh;
    }
}

.logpage h2, .logpage p{
    text-align: center
}

.bok {
    margin-top: 15px;
}




@media (max-width: 992px) and (orientation: landscape) {
    .wrapper {
        background-image:  url(../img/log_page_bcg_md.jpg);
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .wrapper {
        background-image:  url(../img/log_page_bcg_md_vert.jpg);
    }

    .main-nav {
        background-image: url(../img/top_bcg_md.jpg);
        background-size: cover;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .wrapper {
        background-image:  url(../img/log_page_bcg_sm_ver.jpg);
    }

    .logpage {
        .bok {width: 100%;
        }
        margin-top: 0;
    }

    h2 {
        font-size: 19px;
    }




    .navbar-nav .nav-item {
        float: inherit;
        display: block;
    }
}



@media (min-width: 1366px) {
    .container {
        max-width: 1300px;


    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;

    }
}