/*top navigation*/

main {
    position: relative; 
}

.navbar-collapse {
background-color: green;
	@media (max-width: $scr-md) {
		top: 0;
		margin-top: $topbar-compressed;
		section {
			clear: left;
		}

		.categories{
			width: 80vw;
			li {
				padding: 0;
			}
			a {
				width: 75%;
				display: inline-block;
				padding: 4px 0;
			}
			span {
				display: inline-block;
			}
		}
    }


	@media (max-width: $scr-xs) and (orientation: portrait) {
		margin-top: $topbar-phone;
	}

	@media (max-width: 640px) and (max-height: $iph4-w) and (orientation: landscape) {
		margin-top: $topbar-phone-horiz;
	}

}


@media (max-width: $scr-md){
	.navbar .in, .collapsing {
	    display: block;
	    position: absolute;
	    z-index: 3;
	    background-color: #e8e8e8;;
	    width: 100%;
	    left:0;
	}

	.collapsing {
		height:125px;
	}
}

.navbar-toggle {
	@media (max-width: $scr-md){
	    position: relative;
	    float: right;
	    padding: 1px;
		width: 33px;
	    height: 35px;
	    margin-top: 20px;
	    margin-right: 48vw;
	    margin-bottom: 8px;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
	@media (max-width: $iph5-h) and (orientation: landscape) {
		 margin-top: 4px;
    	margin-right: 50vw;
	}

	@media (max-width: $iph5-h - 1px){
		margin-right: 15px;
		margin-top: 8px;
	}
	@media (max-width: 640px) and (max-height: $iph4-w) and (orientation: landscape) {
		margin-top: 4px;
	}


    @media (min-width: $scr-md){
        display: none
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: black;
        margin: 4px;
    }
	
}


.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #563d7c;
}

.navbar-toggle:not(.collapsed) {
    padding-left: 4px;
    .icon-bar:first-child {
        transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0;
        transition: 300ms ease-in-out;
    }
    .icon-bar:nth-child(2){
        transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin: -2px 0 0 0;
        transition: 300ms ease-in-out;
    }
    .icon-bar:last-child{
        display: none;
    }
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbar-regular-height;

    z-index: 150;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background: #fff;
    border-bottom:solid 1px #989898;
    background-image: url(../img/mock_topmenu.jpg);
    background-size: cover;
	nav {
		margin-left: 90px;
	    @media (max-width: $scr-lg) {
			margin-left: 0;
		}
	}

	.container {
		@media (max-width: $scr-xl - 1px) and (orientation: landscape) {
			width: 100%;
			max-width: $scr-xl - 1px;
		}
	}

    @media (max-width: $scr-xl) {
		height: $topbar-compressed;
	}


	@media (max-width: $scr-xs){
		height: $topbar-phone;
	}

	@media (max-width: 640px) and (max-height: $iph4-w) and (orientation: landscape) {
		height: $topbar-phone-horiz;	
	}
}


.main-menu {
	margin-top:35px;
	li {
	    a:hover {
	    	color: $cool-gray;
	    	text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	    }
	}
	@media (max-width: $scr-xs) {
		margin-top: 0;
    }
    @media (max-width: 1366px) and (orientation: landscape) {
		margin-top: 24px;
	}

}

.dropdown {
	cursor: pointer;
}

.navbar-nav .nav-item{
    margin-left: 1.1rem;

}




@media (max-width: $scr-xs){
	.navbar-nav .nav-item {
		border-bottom: solid 1px #ccc;
	}
}


.dropdown-menu {
	background-color: $cool-gray-dark;
	    right: 15px;
	    left: inherit;
	    padding: 0;
	    border-radius: 4px;
	    overflow: hidden;
	li {
		margin: 0;
    	
    	
		&:hover{
			background-color: $cool-gray-lighter;
		}
		a, a:link {
			padding: 12px 11px;
			display: block;
			width: 100%;
			color: white;
		}
	}
	li[role=separator] {
			background-color: $cool-gray;
			height: 1px;
			padding: 0px;
    	}
}

/*navigation aside*/

.categories {
    padding: 0;
    margin-left: 35px;
    @media (min-width: 768px) and (max-width: 992px) {
        margin-left: 1vw;
    }
}

.categories li {
	@media (min-width: 1200px) {
    	height: 33px;
	}
    padding: 3px 0px;
    list-style-type: disc;
        &:after{
    	content:'';
    	height: 1px;
    	background-color: $brand-primary;
		display: block;
		// margin: 0 auto;
		width: 0%;
		// text-align: center;
   		}
   		&:hover:after{
   			
    		animation: menu-underline 600ms ease-in-out forwards;
   		}

    span {
    	float: right;
    	font-weight:100;
    }
}



@keyframes menu-underline {
	0% {
		width: 0;
	}
	50% {
		width: 30%;
	}
	100% {
		width: 0;
	}
}

/*Bottom navigation*/

.footer_menu {
	margin-top: 21px;
    @media (max-width: 1366px) and (orientation: landscape) {
    margin-top: 12px;
	}
	li {
		display: inline;
		list-style-type: none;
		margin: 0 15px;

	}
}





/*panel tabs*/

.user-panel .nav-tabs {
	@media (max-width: $scr-xs){
		margin-top: 20px;
		li{
			a:link, a:hover, a:focus {
				padding: 11px 12px;
				font-size: 11px	
			}
		}
	}
}