.cart-table-container {
	@media (max-width: $scr-xs) and (orientation: portrait) {
		padding: 0;

		table {
			td {
				padding: 0.75rem 0.2rem;
				
			}
			td:first-child {
				width: 5%;
			}

			td:nth-child(2) {
					width: 30%;
				}
			}
    }

    table td {
    	vertical-align: middle;
    }
}