body {
  font-family: $main-font-family;
  font-size: $primary-fontsize;
}

@font-face{ font-family:'Material Icons';font-style:normal;
font-weight:400;
src:url(../../../default/fonts/MaterialIcons-Regular.eot);
src:local("Material Icons"),local("MaterialIcons-Regular"),url(../../../default/fonts/MaterialIcons-Regular.woff2) format("woff2"),url(../../../default/fonts/MaterialIcons-Regular.woff) format("woff"),url(../../../default/fonts/MaterialIcons-Regular.ttf) format("truetype")}


/*******************************************************************************************/
// Headings
/*******************************************************************************************/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $main-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 { font-size: $h1-fontsize; }
h1 { font-size: $h1-fontsize; }
h2 { font-size: $h2-fontsize; }
h3 { font-size: $h3-fontsize; }
h4 { font-size: $h4-fontsize; }
h5 { font-size: $h5-fontsize; }
h6 { font-size: $h6-fontsize; }

.logpage h2 {

    @media (max-width: $iph4-w) and (orientation: portrait) {
        margin-bottom: 6px;
    }

	@media (max-height: 600px) and (orientation: landscape) {
		margin-bottom: 10px;
    }
}


.hero_text h4{
	@media (max-width: 992px) and (orientation: landscape) {
        font-size: 1.3rem;
        margin-bottom: 2vh;
    }

    margin-bottom: 11px;

	@media (min-width: 1200px) and (orientation: landscape) {
        font-size: 1.9rem;
        margin-bottom: 10px;
    }
	font-size: 1.7rem;
}

/**************/
// Texts
/**************/


p {
	color: black;
}

.news-content p {
	margin: 15px 20px 10px 45px;
}

a:link, a:visited{
	color: black;
	text-decoration: none;
}

.invert a:link, .invert a:visited{
	color: white;
	text-decoration: none;
}


.top-status-box {
	//podstawa do liczenia wewnetrznych wielkosci tesktu em
	font-size: 14px;
	@media (max-width: $iph4-h) {
            font-size: 0.8em;
    }
	header {
        font-size: 1.05em;

	    @media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
			font-size: 0.8em;
		}

    }
    .material-icons{
		@media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
			font-size: 1.9em;
		}
    }
}

.status-box-points{
	@media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
		font-size: 0.8em;
	}
}

.check-cart {
	@media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
		font-size: 0.8em;
	}
    @media (max-width: $iph4-h) {
    	i{
			font-size: 18px;
		    margin-top: 4px;
    	}
    }
}

.status-user {
    font-weight: 100;
    font-size: 0.95rem;
}

.status-points {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    @media (min-width: $scr-xs) and (max-width: 1366px) and (orientation: landscape) {
		font-size: 1.1em;
	}
}

@media (min-width: 1367px) {
	.main-nav-scrolled .top-status-box {
	    animation: smallen_f11 0.3s 100ms ease-in-out 1 forwards;
	}

	.main-nav-scrolled .status-points {
	    animation: smallen_f13 0.3s 100ms ease-in-out 1 forwards;
	}
}

@keyframes smallen_f11 {
    0% {font-size: inherit; height: $topbar-regular-height;}
    100% {font-size: 11px; height: $topbar-compressed;}
}

@keyframes smallen_f13 {
    0% {font-size: 17px;}
    100% {font-size: 16px; }
}

.status-more {
    font-size: 14px;
	@media (min-width: $scr-xs) and 	(max-width: 1366px) and (orientation: landscape) {
		font-size: 0.8em;
	}
}


.txt-med {
	font-weight: 500;
}


.prod-list-title {
	font-size: 14px;
	margin: 5px 35px;
}

.prod-list-desc {
	font-size: 10px;
}


.categories {
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: $uppc-letter-spc;
	font-weight: 500;
	font-size: 1.11rem;
	a:visited {
		color: $cool-gray;
	}
}


.white_links a {
	&:link, &, &:hover {
		color: white;
	}
}

.check-cart {
	color: white;
	a {color: white;}
	i {margin-left: 3px;}
}

.main-menu{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: $uppc-letter-spc;
    li{
	    a {
			font-size: 1.2rem;
			@media (max-width: 1366px) and (orientation: landscape) {
		        font-size: 1.1em;
		    }
	    }
    }
}

/******************
/* Buttons */
/*******************/
button {
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

/******************
/* Products */
/*******************/
h5 {
	@media (max-width: $ipd-w) {
		margin-bottom: 3px;
		font-size:13px;
	}
}

h3 {
	@media (max-width: $ipd-w) {
		margin-bottom: 6px;
		font-size:14px;
	}
}

.product-info h5 {
	font-size: 1.15rem;
	margin-bottom: 0px;
	font-weight: 300;
	span{
		color: red; 
		font-weight: 600;
	}
}

.striked {
	.pr-points {
		text-decoration: line-through;
		font-weight: 800;
	}
}

.single-product {
	@media (max-width: $ipd-w) {
		.product-new {
			text-align: center;
    		color: red;
    		font-size: 15px;
		}

		h3, .koszt-zakupu {
			text-align: center
		}
	}
}


/******************
/* Form typography */
/*******************/


input[type="submit"] {
	text-transform: uppercase;
	letter-spacing: $uppc-letter-spc;
//	font-size: 16px;
	color: white;
	font-weight: 500;
	@media (max-height: 500px) and (orientation: landscape) {
        font-size: 15px;
    }
}


/******************
/* footer        */
/*******************/


footer {
	@media (max-width: $iph4-h) {
		.copy{ 
			margin-top: 3px;
			font-size: 10px;
		}

		.bok span {
			font-size: 10px;
		}
	}

	.bok {
		text-transform: uppercase;
		font-weight: 700;
		@media (max-width: 1366px) and (orientation: landscape) {
			font-size: 12px;
		}
	}
}

footer span:first-child {
    @media (max-width: 1366px) and (orientation: landscape) {
    font-size: 11px;
	}
}

.footer_menu {
	li {
		text-transform: uppercase;
		font-weight: 200;
		letter-spacing: $uppc-letter-spc;
	    @media (max-width: 1366px) and (orientation: landscape) {
	    font-size: 0.9em;
		}

	}
}


/*regulamin ordered list 1.1.1 style*/

.statute > li {
	margin-bottom: 35px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}


