/*colors*/

// Grays
// -------------------------

$gray-darker:            #222; //13.5% black
$gray-dark:              #404040; //75% black
$gray:                   #808080; //50% black
$gray-light:             #999;	//40% black
$gray-lighter:           #e5e5e5; //25% black
$gray-lightest:          #f4f4f4; //9.5% black

// Cool grays
$cool-gray-dark: #3b3e45;
$cool-gray: #464c58;
$cool-gray-lighter: #5c616e;


// Brand colors
// -------------------------

$brand-primary:         black;
$brand-secondary:       #464b56;

// Box-backgrounds
// -------------------------

$bcg-main: #fff;
$bcg-secondary: $gray-lightest;


// Categories
// -------------------------

$cat-inactive:         #464b56;
$cat-active:     		#37813c;

// Buttons
$button-primary: #38813c; //green

// fonts
// -------------------------

// $main-font-family: 'Ubuntu', Verdana, sans-serif; 
$main-font-family: 'Roboto Condensed', Verdana, sans-serif; 


// Links
// -------------------------

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

$headings-color: $brand-primary;

$primary-fontsize: 14px;
$primary-fontsize-mobile: 13px;

$h2-fontsize:24px;
$h3-fontsize: 24px;
$h4-fontsize: 31px;

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 1.74em !default;
$h4-fontsize: 1.8rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;


/**/

$headings-margin-bottom: 23px;
$headings-font-weight: 600;
$headings-line-height: 1.5;


/*elements dimensions*/

$topbar-regular-height: 114px;
$topbar-compressed: 95px;
$topbar-phone: 70px;
$topbar-phone-horiz: 60px;
$slider-height-mobile: 230px;
$footer-height: 62px;

$uppc-letter-spc: 0.01em;

// Carousel

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-sm-up-size:                 30px !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicators-width:                   60% !default;

$carousel-indicator-size:                     10px !default;
$carousel-indicator-active-size:              12px !default;
$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-width:                      70% !default;
$carousel-caption-sm-up-width:                60% !default;
$carousel-caption-color:                      #fff !default;

$carousel-icon-width:                         20px !default;


// Media Queries size
// -------------------------

$iph4-w: 320px;
$iph4-h: 480px;
$scr-xs:480px;
$iph5-h: 568px;
$ipd-w: 768px;
$scr-md: 992px;
$scr-lg: 1200px;
$scr-xl: 1366px;
