table.dataTable
{
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important
}
table.dataTable td,table.dataTable th
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty
{
  text-align: center
}
table.dataTable.nowrap th,table.dataTable.nowrap td
{
  white-space: nowrap
}
div.dataTables_wrapper div.dataTables_length label
{
  font-weight: normal;
  text-align: left;
  white-space: nowrap
}
div.dataTables_wrapper div.dataTables_length select
{
  width: 75px;
  display: inline-block
}
div.dataTables_wrapper div.dataTables_filter
{
  text-align: right
}
div.dataTables_wrapper div.dataTables_filter label
{
  font-weight: normal;
  white-space: nowrap;
  text-align: left
}
div.dataTables_wrapper div.dataTables_filter input
{
  margin-left: 0.5em;
  display: inline-block;
  width: auto
}
div.dataTables_wrapper div.dataTables_info
{
  padding-top: 8px;
  white-space: nowrap
}
div.dataTables_wrapper div.dataTables_paginate
{
  margin: 0;
  white-space: nowrap;
  text-align: right
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination
{
  margin: 2px 0;
  white-space: nowrap
}
div.dataTables_wrapper div.dataTables_processing
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0
}
table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting
{
  padding-right: 30px
}
table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active
{
  outline: none
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled
{
  cursor: pointer;
  position: relative
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after
{
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5
}
table.dataTable thead .sorting:after
{
  opacity: 0.2;
  content: "\e150"
}
table.dataTable thead .sorting_asc:after
{
  content: "\e155"
}
table.dataTable thead .sorting_desc:after
{
  content: "\e156"
}
table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after
{
  color: #eee
}
div.dataTables_scrollHead table.dataTable
{
  margin-bottom: 0 !important
}
div.dataTables_scrollBody table
{
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}
div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after
{
  display: none
}
div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td
{
  border-top: none
}
div.dataTables_scrollFoot table
{
  margin-top: 0 !important;
  border-top: none
}
@media screen and (max-width: 767px)
{
  div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate
  {
    text-align: center
  }
}table.dataTable.table-condensed>thead>tr>th
{
  padding-right: 20px
}
table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after
{
  top: 6px;
  right: 6px
}
table.table-bordered.dataTable th,table.table-bordered.dataTable td
{
  border-left-width: 0
}
table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child
{
  border-right-width: 0
}
table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td
{
  border-bottom-width: 0
}
div.dataTables_scrollHead table.table-bordered
{
  border-bottom-width: 0
}
div.table-responsive>div.dataTables_wrapper>div.row
{
  margin: 0
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child
{
  padding-left: 0
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child
{
  padding-right: 0
}


div.dt-button-info
{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  background-color: white;
  border: 2px solid #111;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border-radius: 3px;
  text-align: center;
  z-index: 21
}
div.dt-button-info h2
{
  padding: 0.5em;
  margin: 0;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  background-color: #f3f3f3
}
div.dt-button-info>div
{
  padding: 1em
}
ul.dt-button-collection.dropdown-menu
{
  display: block;
  z-index: 2002;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  -ms-column-gap: 8px;
  -o-column-gap: 8px;
  column-gap: 8px
}
ul.dt-button-collection.dropdown-menu.fixed
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  border-radius: 0
}
ul.dt-button-collection.dropdown-menu.fixed.two-column
{
  margin-left: -150px
}
ul.dt-button-collection.dropdown-menu.fixed.three-column
{
  margin-left: -225px
}
ul.dt-button-collection.dropdown-menu.fixed.four-column
{
  margin-left: -300px
}
ul.dt-button-collection.dropdown-menu>*
{
  -webkit-column-break-inside: avoid;
  break-inside: avoid
}
ul.dt-button-collection.dropdown-menu.two-column
{
  width: 300px;
  padding-bottom: 1px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2
}
ul.dt-button-collection.dropdown-menu.three-column
{
  width: 450px;
  padding-bottom: 1px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3
}
ul.dt-button-collection.dropdown-menu.four-column
{
  width: 600px;
  padding-bottom: 1px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4
}
div.dt-button-background
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2001
}
@media screen and (max-width: 767px)
{
  div.dt-buttons
  {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em
  }
  div.dt-buttons a.btn
  {
    float: none
  }
}


table.dataTable.fixedHeader-floating,table.dataTable.fixedHeader-locked
{
  background-color: white;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}
table.dataTable.fixedHeader-floating
{
  position: fixed !important
}
table.dataTable.fixedHeader-locked
{
  position: absolute !important
}
@media print
{
  table.fixedHeader-floating
  {
    display: none
  }
}


table.dataTable th.focus,table.dataTable td.focus
{
  outline: 3px solid #337ab7;
  outline-offset: -1px
}


table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty
{
  cursor: default !important
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before
{
  display: none !important
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child
{
  position: relative;
  padding-left: 30px;
  cursor: pointer
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before
{
  top: 9px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #337ab7
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before
{
  content: '-';
  background-color: #d33333
}
table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before
{
  display: none
}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child
{
  padding-left: 27px
}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before
{
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px
}
table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control
{
  position: relative;
  cursor: pointer
}
table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before
{
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #337ab7
}
table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before
{
  content: '-';
  background-color: #d33333
}
table.dataTable>tbody>tr.child
{
  padding: 0.5em 1em
}
table.dataTable>tbody>tr.child:hover
{
  background: transparent !important
}
table.dataTable>tbody>tr.child ul
{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0
}
table.dataTable>tbody>tr.child ul li
{
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0
}
table.dataTable>tbody>tr.child ul li:first-child
{
  padding-top: 0
}
table.dataTable>tbody>tr.child ul li:last-child
{
  border-bottom: none
}
table.dataTable>tbody>tr.child span.dtr-title
{
  display: inline-block;
  min-width: 75px;
  font-weight: bold
}
div.dtr-modal
{
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em
}
div.dtr-modal div.dtr-modal-display
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0,0,0,0.6)
}
div.dtr-modal div.dtr-modal-content
{
  position: relative;
  padding: 1em
}
div.dtr-modal div.dtr-modal-close
{
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12
}
div.dtr-modal div.dtr-modal-close:hover
{
  background-color: #eaeaea
}
div.dtr-modal div.dtr-modal-background
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0,0,0,0.6)
}
@media screen and (max-width: 767px)
{
  div.dtr-modal div.dtr-modal-display
  {
    width: 95%
  }
}div.dtr-bs-modal table.table tr:first-child td
{
  border-top: none
}


div.DTS
{
  display: block !important
}
div.DTS tbody th,div.DTS tbody td
{
  white-space: nowrap
}
div.DTS div.DTS_Loading
{
  z-index: 1
}
div.DTS div.dataTables_scrollBody
{
  background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, #fff 10px, #fff 20px)
}
div.DTS div.dataTables_scrollBody table
{
  z-index: 2
}
div.DTS div.dataTables_paginate,div.DTS div.dataTables_length
{
  display: none
}
div.DTS tbody tr.even
{
  background-color: white
}


table.dataTable tbody>tr.selected,table.dataTable tbody>tr>.selected
{
  background-color: #08C
}
table.dataTable.stripe tbody>tr.odd.selected,table.dataTable.stripe tbody>tr.odd>.selected,table.dataTable.display tbody>tr.odd.selected,table.dataTable.display tbody>tr.odd>.selected
{
  background-color: #0085c7
}
table.dataTable.hover tbody>tr.selected:hover,table.dataTable.hover tbody>tr>.selected:hover,table.dataTable.display tbody>tr.selected:hover,table.dataTable.display tbody>tr>.selected:hover
{
  background-color: #0083c5
}
table.dataTable.order-column tbody>tr.selected>.sorting_1,table.dataTable.order-column tbody>tr.selected>.sorting_2,table.dataTable.order-column tbody>tr.selected>.sorting_3,table.dataTable.order-column tbody>tr>.selected,table.dataTable.display tbody>tr.selected>.sorting_1,table.dataTable.display tbody>tr.selected>.sorting_2,table.dataTable.display tbody>tr.selected>.sorting_3,table.dataTable.display tbody>tr>.selected
{
  background-color: #0085c8
}
table.dataTable.display tbody>tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1
{
  background-color: #0081c1
}
table.dataTable.display tbody>tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2
{
  background-color: #0082c2
}
table.dataTable.display tbody>tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3
{
  background-color: #0083c4
}
table.dataTable.display tbody>tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1
{
  background-color: #0085c8
}
table.dataTable.display tbody>tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2
{
  background-color: #0086ca
}
table.dataTable.display tbody>tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3
{
  background-color: #0087cb
}
table.dataTable.display tbody>tr.odd>.selected,table.dataTable.order-column.stripe tbody>tr.odd>.selected
{
  background-color: #0081c1
}
table.dataTable.display tbody>tr.even>.selected,table.dataTable.order-column.stripe tbody>tr.even>.selected
{
  background-color: #0085c8
}
table.dataTable.display tbody>tr.selected:hover>.sorting_1,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1
{
  background-color: #007dbb
}
table.dataTable.display tbody>tr.selected:hover>.sorting_2,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_2
{
  background-color: #007ebd
}
table.dataTable.display tbody>tr.selected:hover>.sorting_3,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_3
{
  background-color: #007fbf
}
table.dataTable.display tbody>tr:hover>.selected,table.dataTable.display tbody>tr>.selected:hover,table.dataTable.order-column.hover tbody>tr:hover>.selected,table.dataTable.order-column.hover tbody>tr>.selected:hover
{
  background-color: #007dbb
}
table.dataTable td.select-checkbox
{
  position: relative
}
table.dataTable td.select-checkbox:before,table.dataTable td.select-checkbox:after
{
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box
}
table.dataTable td.select-checkbox:before
{
  content: ' ';
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px
}
table.dataTable tr.selected td.select-checkbox:after
{
  content: '\2714';
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
}
div.dataTables_wrapper span.select-info,div.dataTables_wrapper span.select-item
{
  margin-left: 0.5em
}
@media screen and (max-width: 640px)
{
  div.dataTables_wrapper span.select-info,div.dataTables_wrapper span.select-item
  {
    margin-left: 0;
    display: block
  }
}table.dataTable tbody tr.selected,table.dataTable tbody th.selected,table.dataTable tbody td.selected
{
  color: white
}
table.dataTable tbody tr.selected a,table.dataTable tbody th.selected a,table.dataTable tbody td.selected a
{
  color: #a2d4ed
}

.table td, .table th {
	@media screen and (max-width: 599px) {font-size: 10px;}
	@media screen and (min-width: 600px) and (max-width: 1023px) {font-size: 12px;}
	@media screen and (min-width: 1024px) and (max-width: 1366px) {font-size: 14px;}
	@media screen and (min-width: 1367px) {font-size: 1rem;}
}

table.table td {
	@media screen and (max-width: 768px) {
		padding: 8px!important;
	}
}
table.table td.lp {
	text-align: right;
	@media screen and (max-width: 768px) {
		width: 10px;
	}
}