html, body {height: 100%; margin: 0; padding: 0;}

body.modal-open:after {
	/*content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index:50;
	background: rgba(0, 0, 0, 0.6);*/
}
body.modal-open {
/*.pageContainer {
		padding: 0 10px;
		background: #fff;
		position: fixed;
		z-index: 1001;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}*/
}

#backgroundsContainer {
	@media screen and (min-width: 769px) {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.bcLayer2 {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: -moz-linear-gradient(-45deg,  rgba(71,93,117,1) 0%, rgba(71,93,117,0.5) 25%, rgba(71,93,117,0) 50%, rgba(71,93,117,0) 75%, rgba(71,93,117,1) 100%);
			background: -webkit-linear-gradient(-45deg,  rgba(71,93,117,1) 0%,rgba(71,93,117,0.5) 25%,rgba(71,93,117,0) 50%,rgba(71,93,117,0) 75%,rgba(71,93,117,1) 100%);
			background: linear-gradient(135deg,  rgba(71,93,117,1) 0%,rgba(71,93,117,0.5) 25%,rgba(71,93,117,0) 50%,rgba(71,93,117,0) 75%,rgba(71,93,117,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475d75', endColorstr='#475d75',GradientType=1 );
		}
		
		.bcLayer1 {
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #776d78;
			background: -moz-linear-gradient(45deg,  #776d78 0%, #3c768a 100%);
			background: -webkit-linear-gradient(45deg,  #776d78 0%,#3c768a 100%);
			background: linear-gradient(45deg,  #776d78 0%,#3c768a 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#776d78', endColorstr='#3c768a',GradientType=1 );
		}
	}
}

#panelContentFlex {
	@media screen and (min-width: 769px) {
		z-index: 20;
		position: relative;
		width: 90%!important;
		max-width: 90%!important;
		margin: auto;
		min-height: 100vh;
		.rownm {/*margin: 0!important;*/}
		#panelContainerInner {
			min-height: calc(100vh - 100px);
		  //margin: 50px 0 50px 0;
		  -webkit-box-shadow: 0px 0px 60px 0px rgba(50, 50, 50, 0.76);
			-moz-box-shadow:    0px 0px 60px 0px rgba(50, 50, 50, 0.76);
			box-shadow:         0px 0px 60px 0px rgba(50, 50, 50, 0.76);
			#topContainer {
				height: 60px;
				//overflow: hidden;
				#topContainerLeft {
					height: 60px;
					background: #2c324c;
					.nameContainer {
						color: #fff;
						font-family: 'Josefin Sans', sans-serif;
						text-align: center;
						font-weight: 700;
				    font-size: larger;
				    text-align: center;
				    padding: 15px 0 0 0;
					}
				}
				#topContainerRight {
					height: 60px;
					background: #fff;
				}
			}
			#headContainer {
				height: 260px;
				position: relative;
				background-image: url(../img/background-login.jpg);
				 -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  background-position: 0 -50px;
			  background-repeat: no-repeat;
			  //#headContainerCloakB, #headContainerPanel {position: absolute;height: 260px;}
			  #headContainerUser {
			  	position: relative;
				  #headContainerCloakB {
				  	width: 100%;
				  	height: 100%;
				  	margin: 0 -15px 0 -15px;
				  	position: absolute;
				  	z-index: 25;
						background-color: #2b4166;
						opacity: 0.75;
		    		filter: alpha(opacity=75);
					}
					#headContainerAvatar {
						position: absolute;
				  	z-index: 26;
				  	width: 100px;
				  	height: 100px;
				  	margin: -75px 0 0 -50px;
				  	top: 50%;
				  	left: 50%;
				  	background: #fff;
				  	-webkit-border-radius: 50px;
						-moz-border-radius: 50px;
						border-radius: 50px;
				  	img {
							width: 90px;
							-webkit-border-radius: 50px;
							-moz-border-radius: 50px;
							border-radius: 50px;
						}
					}
					#headContainerName {
						position: absolute;
						height: 50px;
						bottom: 0;
						z-index: 26;
						left: 0;
						width: 100%;
						color: #fff;
						text-align: center;
						vertical-align: middle;
						font-weight: bold;
						padding: 12px 0 0 0;
					}
				}
				.headBoxLeft, .headBoxRight {
					position: absolute;
					height: 50px;
					background-color: #2b4166;
					opacity: 0.75;
	    		filter: alpha(opacity=75);
	    		bottom: 0;
				}
				.headBoxLeft {left: 0;}
				.headBoxRight {right: 0;}
			}
			#contentContainer {
				position: relative;
				min-height: calc(100vh - 420px);
				#contentMenuLeft {
					#menuLeft.shrink {
						position: fixed;
						z-index: 999;
						top: 60px;
						width: 15%;
					}
					background: #2c3144;
					padding: 0!important;
					.adminMenu {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							line-height: 40px;
							margin: 0 0 1px 0;
							//@media screen and (max-width: 768px) {font-size: 14px;}
							//@media screen and (min-width: 769px) {font-size: 16px;}
							@media screen and (max-height: 800px) {font-size: 14px!important;}
							@media screen and (min-height: 801px) {font-size: 16px!important;}
							a {
								font-family: 'Open Sans', sans-serif;
								font-weight: 300;
								color: #e4e4e4;
								display: block;
								position: relative;
								width: 100%;
								line-height: 40px;
								padding: 0 5px 0 48px;
								background-color: #4c5f82;
								.material-icons {
									position: absolute;
									top: 7px;
									left: 17px;
								}
								&:hover {
									text-decoration: none;
									background-color: #60708c;
								}
							}
							
							a.active {
								background-color: #60708c;
								&::before {
									content: "";
									position: absolute;
									width: 4px;
									height: 40px;
									background-color: #fe9661;
									left: 0;
								}
							}
							
						}					
					}
				}
				#contentPanel {background: #fff;}
			}
		}
		#panelContainerInner.normal {			
			#topContainerLeft {
				-webkit-border-top-left-radius: 20px;
				-moz-border-radius-topleft: 20px;
				border-top-left-radius: 20px;
			}
			
			#topContainerRight {
				-webkit-border-top-right-radius: 20px;
				-moz-border-radius-topright: 20px;
				border-top-right-radius: 20px;
			}
			
		}
		#panelContainerInner.shrink {
			-webkit-border-bottom-right-radius: 20px;
			-webkit-border-bottom-left-radius: 20px;
			-moz-border-radius-bottomright: 20px;
			-moz-border-radius-bottomleft: 20px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
			#topContainer {
				position: fixed;
				z-index: 999;
				top: 0;
				width: 90%;
			}
			#headContainer {margin-top: 60px;}
		}
	}
/*-----------------------------------------------------------------------------------------------------*/
	@media screen and (max-width: 768px) {
		z-index: 20;
		position: relative;
		width: 100%!important;
		max-width: 100%!important;
		margin: 0;
		min-height: 100vh;
		.rownm {/*margin: 0!important;*/}
		#panelContainerInner {
			min-height: 100vh;
			#topContainer {
				position: fixed;
				width: 100%;
				top: 0;
				height: 40px;
				z-index: 80;
				background: #fff;
				overflow: hidden;
				#topContainerLeft {
					height: 40px;
					background: #2c324c;
					.nameContainer {
						color: #fff;
						font-family: 'Josefin Sans', sans-serif;
						text-align: center;
						font-weight: 700;
				    font-size: larger;
				    text-align: center;
				    padding: 5px 0 0 0;
					}
				}
				#topContainerRight {
					height: 40px;
					background: #fff;
				}
			}
			#headContainer {
				#headContainerUser {display: none;}
			  #headContainerCloakB {}
				.headBoxLeft, .headBoxRight {
					position: absolute;
					height: 50px;
					background-color: #2b4166;
					opacity: 0.75;
	    		filter: alpha(opacity=75);
	    		bottom: 0;
				}
				.headBoxLeft {left: 0;}
				.headBoxRight {right: 0;}
			}
			#contentContainer {
				position: relative;
				min-height: calc(100vh - 40px);
				top: 40px;
				#contentMenuLeft {
					#menuLeft {
						position: fixed;
						z-index: 999;
						top: 40px;
						width: 100%;
						right: -100%;
						background: #373a3c;
						
						overflow-y: auto;
    				max-height: calc(100% - 40px);
					}
					#menuLeft.show {
						right: 0!important;
					}
					background: #2c3144;
					padding: 0!important;
					.adminMenu {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							line-height: 40px;
							margin: 0 0 1px 0;
							a {
								font-family: 'Open Sans', sans-serif;
								font-weight: 300;
								color: #e4e4e4;
								display: block;
								position: relative;
								width: 100%;
								line-height: 40px;
								padding: 0 5px 0 48px;
								background-color: #4c5f82;
								.material-icons {
									position: absolute;
									top: 7px;
									left: 17px;
								}
								&:hover {
									text-decoration: none;
									background-color: #60708c;
								}
							}
							
							a.active {
								background-color: #60708c;
								&::before {
									content: "";
									position: absolute;
									width: 4px;
									height: 40px;
									background-color: #fe9661;
									left: 0;
								}
							}
							
						}					
					}
				}
				#contentPanel {background: #fff;}
			}
		}
	}
/*-----------------------------------------------------------------------------------------------------*/
}


.pageHeading {
	@media screen and (min-width: 769px) {
		width: 100%;
		position: relative;
		height: 50px;
		top: -50px;
		color: #fff;
		font-weight: bold;
		padding: 12px 0 0 0;
		display: inline-flex;
	  vertical-align: middle;
		.glyphicon {color: #fe8046;}		
		.pageMaximize {
			position: absolute;
			right: 0;
			top: 12px;
			cursor: pointer;
		}
	}
	
	@media screen and (max-width: 768px) {	
		width: 100%;
		position: relative;
		height: 50px;
		top: 38px;
		color: #333;
		font-size: 15px;
		margin-left: -10px;
		font-weight: normal;
		padding: 12px 0 0 0;
		display: inline-flex;
	  vertical-align: middle;
	  i {
			width: 20px;
			font-size: 19px!important;
		}
		.glyphicon {color: #fe8046;}		
		.pageMaximize {
			display: none;
		}
	}
}

#pageToolbar {
	@media screen and (min-width: 769px) {
		margin: -50px -15px 0 -15px;
		background: #e0e9f0;
		padding: 15px;
		button, a {
			margin: 0 15px 0 0;
		}
	}
	
	@media screen and (max-width: 768px) {
		position: fixed;
		top: 40px;
		left: 0;
		z-index: 10;
		width: 100%;
		background: #e0e9f0;
		padding: 5px;
		button, a {
			margin: 0 15px 0 0;
		}
	}
}

#pageToolbar.shrink {
	@media screen and (min-width: 769px) {
		position: fixed;
		z-index: 990;
		top: 110px;	
		width: 75%;
	}
}

form {
	.formTitle {
		padding-top: 15px;
    border-bottom: 1px dashed #dfdede;
    h4 {
			font-size: 23px;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 400;
		}
	}
	.active {
		background: #e0e9f0!important;
		label, input {font-weight: bold;}
	}
	.labeled {
		margin-bottom: 2px!important;
		background: #f5faff;
    min-height: 67px;
    @media screen and (min-width: 769px) {
    	padding: 14px 0 5px 10px;
    	display: flex;
    	label {
				text-align: right;
	    	padding-top: 6px;
			}
    }
    @media screen and (max-width: 768px) {
    	padding: 2px 0 10px 0px;
    	.col-xs-12 {float: inherit!important;}
    }
		label {padding-top: 6px;}
	}
	
	.boxed {
		margin-bottom: 2px!important;
		background: #f5faff;
		@media screen and (min-width: 769px) {
    	padding: 14px;
    }
  }
}

.flexed {display: flex;}
.spacer50 {
	@media screen and (max-width: 768px) {display: none!important;}
	@media screen and (min-width: 769px) {height: 50px;}
}

.pageContent {
	margin-top: 15px;
	@media screen and (max-width: 768px) {
		margin: 25px -11px 0 -11px;
		.col-xs-12 {float: inherit!important;}
		.flexed {display: inherit!important;}		
	}	
}

.dropdown-right {
	@media screen and (max-width: 768px) {margin-right: -15px;}
	text-align: right;
	@media screen and (min-width: 769px) {
		#dropdownMenu1 {
			padding-top: 19px;
		}
	}
}
.btn-menu {background: #fff;}
.drop-user {
	right: 0;
	left: inherit!important;
	top: 0!important;
	margin: 0;
	padding: 0;
	border: 0!important;
	li {
		padding-left: 10px!important;
		padding-bottom: 6px;
		background-color: #2c324c;
		a {
			color: #fff;
			i {
				position: relative;
    		top: 6px;
			}
		}	
	}
	li.danger {background: #ff3737;}
	li.dropdown-line {
		height: 15px;
    margin: 0;
    padding-right: 10px;
		hr {
			margin: 0;
    	padding: 0px 0;
    	background: #fff;
		}	
	}
}

.box-container {
	position: relative;
}

#dataTableWhite {
	background-color: #fff!important;
}

@media screen and (min-width: 769px) {
	.showOnS {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.showOnL {
		display: none;
	}
	.btn {
		padding: .25rem .75rem!important;
    font-size: .85rem!important;
    line-height: 1.5!important;
    border-radius: .2rem!important
  }
}

.modal-body_p {
	padding: 10px!important;
}

.moduleContainer {
	height: 190px;
	position: relative;
	.moduleContainerInside {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 4px solid #fff;
		background: #f7f7f7;
		margin: 2px;
		padding: 3px;	
	}
}

@media print {
	 body * {
    visibility: hidden;
  }
  .toPrint * {visibility: visible;}
  .modal-body_p {
		padding: 10px!important;
		
	}
	
	table {
		width: 100%;
	}
  .toPrint {
  	position: absolute;
    left: 0;
    top: 0;
   /* background-color: white!important;
    height: 100%!important;
    width: 100%!important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    padding: 15px!important;
    font-size: 14px!important;
    line-height: 18px!important;
    z-index: 10001!important;*/
  }
}

.box {
	padding: 10px;
	//border: 2px solid #4c5f82;
	margin-bottom: 20px;
	background: #fcfcfc;
	
	.box-header {
		background: #f5faff;
		margin: -10px -10px 0 -10px;
    padding: 5px;
	}
	
	.box-footer {
		text-align: right;
		padding: 5px;
		margin: 0 -10px -10px -10px;
		background: #f5faff;
	}
	
	#dataTableWidget {
		th, td {
			padding: 5px 1px!important;
			font-size: 15px!important;
		}
	}
}

.dropdown-menu {
	background: transparent;
}