.nav-tabs {
	margin-top: 45px;
  border-bottom: 1px solid #000!important;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 10px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  //border-radius: 4px 4px 0 0;
  padding: 10px 25px 10px 25px;
  font-size: larger;
  background: #eaeaea;
}
.nav-tabs > li > a:hover {
  //border-color: #eee #eee #ddd;
  background: #e2e2e2;
}

.nav-tabs > li.active {
	margin-bottom: 9px!important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	padding: 15px 25px 11px 25px;
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom-color: transparent;
  font-weight: bold;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #000;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #000;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.tab-content {
	margin-top: 20px;
}