body {
	@media screen and (max-width: 768px) {background-color: #2b4166;}
}
.backgroundFull {
	@media screen and (min-width: 769px) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  background-position: top, center;
	  background-repeat: no-repeat;
	}
	
	@media screen and (max-width: 768px) {}
}

.loginBackground {
	@media screen and (min-width: 768px) {background-image: url(../img/background-login.jpg);}
}

.loginPanel {
	height: 100%;
	left: 0;
	top:0;
	display: table;
	@media screen and (max-width: 768px) {width: 100%;}
	@media screen and (min-width: 769px) {width: 50%;position: fixed;}
}

.elementsContainer {
	width: 100%;
	margin: auto;
	@media screen and (min-width: 769px) {display: table-cell;vertical-align: middle;}
}

.elements {
	@media screen and (min-width: 769px) {width: 430px;margin: auto;}
}

.bbContainer {
	@media screen and (min-width: 769px) {
		padding-bottom: 50px;
		text-align: center;
	}
	
	@media screen and (max-width: 768px) {
		background-color: #fff;
		padding: 8px;
		img {width: 55px; display: inline-block;}
		p {display: inline-block; width: 10px;}
		h3 {font-size: 18px; display: inline-block;}
	}
}

.loginContainer {
	@media screen and (min-width: 769px) {
		width: 430px;
		border: 1px solid #fff;
		outline: 7px solid #333;
		padding: 20px;
		height: 270px;
	}
	@media screen and (max-width: 768px) {
		width: 90%;
		margin: 5%;
		padding: 10px;
	}
	background: #333;
	
	text-align: center;
	input[type=text], input[type=password] {
		display: block;
		@media screen and (min-width: 769px) {
			width: 80%;
			margin: 10px auto;
		}
		@media screen and (max-width: 768px) {
			width: 90%;
			margin: 15px auto;
		}
	}
	button {
		border: 1px solid #fff;
		background: #333;
		color: #fff;
		font-weight: bold;
		padding: 10px 30px;
	}
}