html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	font-family: 'Ubuntu', sans-serif;
	@media (min-height: 800px) {font-size: 14px;}
	@media (max-height: 799px) {font-size: 13px;}
}

/*structure elements*/

header {
	height: 340px;
	padding-top: 0;
	position: relative;
	top: 114px;
	background: #f4f4f4;
	z-index: 1;
	overflow: hidden;
}

main {
	position: relative;
	display: block;

}

.contents {
	position: relative;
	top:114px;
	}

aside {
	background-color: #c8c8c8;
	// border: 1px dashed green;
	height: 450px;
}

footer {
	position: fixed;
	bottom: 0;
	height: 62px;
	width: 100%;
	background-color: #f4f4f4;
	color: #464b56;
	text-align: center;
}

footer span {
	display: inline-block;
	margin: 15px 20px;
}

footer span:first-child {
	float: left;
	margin-left: 30px;
}

/*typography*/
h1 {
	font-size: 24px;
}

h2 {
	@media (min-height: 800px) {font-size: 24px;}
	@media (max-height: 799px) {font-size: 18px;}
}

h4 {
	font-size: 31px;
	margin-bottom: 23px;

}

.txt-med {
	font-weight: 700;
}

.hero_text h4, .hero_text p {
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
}

.prod-list-title {
	font-size: 14px
}

.prod-list-desc {
	font-size: 10px
}

.block_title {
	color: black;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}
.block_title:before, .block_title:after {
	content: '';
	width: 28%;
	height: 1px;
	border: none;
	background-color: black;
	margin-top: 11px;
	top:9px;
}

.block_title_narr:before, .block_title_narr:after {
	width: 11%;
}

.block_title:before {
	float: left;
	margin-left: 30px;
}

.block_title:after {
	float: right;
	margin-right: 30px;
}



.main-nav, main {
	position: relative; 
}

.main-nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 114px;
	z-index: 150;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background: #fff;
	border-bottom:solid 1px #989898;
	background-image: url(../img/mock_topmenu.jpg);
	background-size: cover;
}

.main-logo img{
	height: 65%;
	max-height: 100px;
	width: inherit;
	margin: 22px 63px 0 80px;
	float: left;
}

.main-nav-scrolled {
	height: 114px;
	animation: shrink_top 0.3s 100ms ease-in-out 1 forwards;
}

@keyframes shrink_top {
	0% {height: 114px;}
	100% {height: 95px; }

}

.top-status-box {
	position: absolute;
	top: 0;
	right: 50px;
	min-width: 290px;
	height: 100%;
	margin: 0;
	background-color: #5e5e5e;
	color: white;
	text-transform: uppercase;
	padding: 6px 15px 15px;
}

.status-user {
	float: right;
}

.status-points {
	float: right;
	font-weight: 700;
	font-size: 25px;
	line-height: 1;
}

.status-more {
	float: right;
	font-size: 14px;
	margin-top: 0;
}

.status-more:after{
	content: '';
	width: 1px; height: 1px;
	border-right: 9px solid white;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 0 solid transparent;
	margin: 1px 0 0 8px;
	display: inline;
	float: right;
}

.main-nav-scrolled .top-status-box {
	animation: smallen_f11 0.3s 100ms ease-in-out 1 forwards;
}

.main-nav-scrolled .status-points {
	animation: smallen_f13 0.3s 100ms ease-in-out 1 forwards;
}

@keyframes smallen_f11 {
	0% {font-size: inherit;}
	100% {font-size: 11px; }
}

@keyframes smallen_f13 {
	0% {font-size: 25px;}
	100% {font-size: 20px; }
}

.top-status-box hr {
	margin: 8px 0;
	background-color: white;
}

.top-status-box hr:last-of-type {
	margin-bottom: 2px;
}

.hero_img{
	background-image: url(../img/hero_img.jpg);
	height: 360px;
	max-height: 360px;
	background-size: cover;
	background-repeat: no-repeat;

}


.main {
	top: 100px;
	background: #f2f2e8;
	padding: 0 40px 30px;
	column-count: 2;
	column-gap: 40px;
}

p {
	color: black;
}


/*navigation aside*/

a:link{
	color: black;
}

.categories {
	list-style-type: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0;
}

.categories li {
	height: 33px;
	padding: 3px 15px;
}

.categories li:nth-child(odd) {
	background-color: #e4e4e4;
}

.wrapper{
	width: 100%;
	height: 100%;
	min-height: 500px;
	border: solid 3px black;
	background-image:  url(../img/log_page_bcg_lg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.bblogo {
	margin: 0 0 30px 0;
	text-align: center
}

.formblock {
	position: relative;
	top: 0;
	padding-top: 15px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 5;
	text-align: center;
}

.formblock::before {
	content: "";
	pointer-events: none;
	position: absolute;
	background-color: transparent;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 98%;
	display: block;
	border: solid 1px white;
	z-index: 0;

}

.log-head {
	margin-top: 15px;
	text-transform: uppercase;
	color: white;
}
.formblock p {
	color: white;
	margin: 0 35px;}

.logpage {
	margin-top: 60px;
}

.logpage h2, .logpage p{
	text-align: center
}

.bok {
	margin-top: 15px;
}

/*products view*/
/************************************************************************************************ */

.product-item {
	//border: dashed 1px #cc33cc;
	padding: 0!important;
	height: 355px;
	text-align: center;
    // display: flex;
    // justify-content: center;
}

.points-flag {
	position: absolute;
	color: white;
	width: 72px;
	height: 40px;
	top: 171px;
	left: 0;
	background-image: url(../img/flaga_price.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
}

.pr-points {
    display: block;
    position: relative;
    transform: translate(-15px);
    margin: 0 auto;
	top: 3px;
}

.pr-flag-unit {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translate(-15px);
	color: #f5fbff;
	font-size: 10px;
}

.pr-add-pln {
	position: absolute;
	right: 4px;
	top: 9px;
	font-size: 12px;
}

.button-centerer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 27px;
	display: flex;
	justify-content: center;
}

button {
	position: absolute;
	width: 163px;
    margin-left: 0 auto !important;
	border: none;
	display: block;
	padding: 6px 15px;
	font-weight: bold;
	color: white;
	bottom: 0;

}

.buy {
	background-color: #37813c;

}

.not_enough {

	background-color: #464b56;
}

/*form elementnts*/

.formblock input:first-of-type{
	@media (min-height: 800px) {margin-top: 35px;}
	@media (max-height: 799px) {margin-top: 25px;}
}


.form-control {
		@media (min-height: 800px) {width: 60%;}
		@media (max-height: 799px) {width: 76%;}
		background-color: white;
		margin: 10px auto;
		text-align: center;
		border-radius: 0;
    	-webkit-box-shadow:inset 2px 2px 3px #ccc;
    	-moz-box-shadow:inset 2px 2px 3px #ccc;
        box-shadow:inset 2px 2px 3px #ccc;
}

.form-control input {
	text-align: center;
}

form input:-webkit-autofill {
    background-color: white!important;
}


input[type="submit"], .aBtn {
	text-transform: uppercase;
	background-color: black;
	color: white;
//	font-size: 16px;
	font-weight: 500;
	//padding: 8px 20px;
	border: none;
}

.aBtn {
	padding: 11px 16px!important;	
}

@media (max-width: 992px) and (orientation: landscape) {
	.wrapper {
		background-image:  url(../img/log_page_bcg_md.jpg);
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	.wrapper {
		background-image:  url(../img/log_page_bcg_md_vert.jpg);
	}

	.main-nav {
		background-image: url(../img/top_bcg_md.jpg);
		background-size: cover;
	}
}

@media (max-width: 480px) and (orientation: portrait) {
	.wrapper {
		background-image:  url(../img/log_page_bcg_sm_ver.jpg);
	}

	.bok {width: 100%}
	.logpage {
		margin-top: 0;
	}

	.top-status-box {
		position: relative;
		right: 0;

	}
	.main-logo {
		margin:0 auto;
		text-align: center;
		width: 100%;
		display: block;
	}
	.main-logo img{
		width: 50px;
		height: initial;
		margin: 10px auto;
		float: none;
		text-align: center;
	}


	.navbar-nav .nav-item {
		float: inherit;
		display: block;
	}
}

.bblogo img {
	@media (min-height: 800px) {width: 28%;}
	@media (max-height: 799px) {width: 18%;}
}


@media (min-width: 1366px) {
	.container {
		max-width: 1300px;

	    // background-color: rgba(200,100,0,0.2);
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1400px;
	    // background-color: rgba(0,100,200,0.2);
	}

	.formblock {
		margin-top: 50px;
	}
}